<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Ensures proper rendering and touch zooming for mobile applications -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookshelf - Book Notes</title>
        <!-- Imports book_notes.css file -->
        <link href="book_notes.css" rel="stylesheet" type="text/css">
        <!-- Imports master.css file -->
        <link href="../style_templates/master.css" rel="stylesheet" type="text/css">
        <!-- Imports the tables style css sheet -->
        <link href="../style_templates/tables.css" rel="stylesheet" type="text/css">
        <!-- Keeps the program from sending an error saying it can't find module html -->
        <link rel="shortcut icon" href="">
    </head>
    <body>
        {{> header}}
        {{> navigation}}
        <!-- Buttons to update, add, delete, books -->
        <form action="/book_notes/new_note" method="get">
            <!-- Need to add button hover event -->
            <button type="submit" class="add_button">Add Note</button>
        </form>
        <!-- Table holding book data -->
        <table class="table_books">
            <tr>
                <th class="th_books">Book Title</th>
                <th class="th_books">Date Note Added</th>
                <th class="th_books">Note Title</th>
                <th class="th_books">Note</th>
            </tr>
            {{#if notes}}
              {{#each notes}}
                <tr class="tr_books">
                    <td class="td_books">{{book_title}}</td>
                    <td class="td_books">{{date_added}}</td>
                    <td class="td_books">{{note_title}}</td>
                    <td class="td_books">{{note}}</td>
                </tr>
              {{/each}}
            {{else}}
            <tr class="tr_books">
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
            </tr>
            <tr class="tr_books">
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
            </tr>
            {{/if}}
        </table>
        {{> footer}}
    </body>
</html>
