<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Ensures proper rendering and touch zooming for mobile applications -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookshelf - Book Quotes</title>
        <!-- Imports master.css file -->
        <link href="../style_templates/master.css" rel="stylesheet" type="text/css">
        <!-- Imports the tables style css sheet -->
        <link href="../style_templates/tables.css" rel="stylesheet" type="text/css">
        <!-- Keeps the program from sending an error saying it can't find module html -->
        <link rel="shortcut icon" href="">
    </head>
    <body>
        {{> header}}
        {{> navigation}}
        <table>
          <tr>
            <tr>
            {{#if existingBooks}}
              <td>
                <form action="/book_quotes/new_quote" method="get">
                    <!-- Need to add button hover event -->
                    <button type="submit" class="add_button">Add Quote</button>
                </form>
              </td>
              {{#if existingQuotes}}
                <td style="width: 10%;"></td>
                <form action="/book_quotes/manage_quotes" method="post">
                  <td>
                    Select Quote: <select id="select_quote_title" name="select_quote_title">
                      {{#each quote}}
                        <option>{{quote_title}}</option>
                      {{/each}}
                    </select><br>
                  </td>
                  <td>
                    <button type="submit" class="add_button">Manage Quote</button>
                  </td>
                </form>
              {{/if}}
            {{else}}
              <div align="center">
                <h1>Add a book to add quotes!</h1>
              </div>
            {{/if}}
          </tr>
        </table>
        <!-- Table holding book data -->
        <table class="table_books">
            <tr>
                <th class="th_books">Book Title</th>
                <th class="th_books">Quote Title</th>
                <th class="th_books">Quote</th>
                <th class="th_books">Date Quote Added</th>
            </tr>
            {{#if quote}}
              {{#each quote}}
                <tr class="tr_books">
                    <td class="td_books">{{book_title}}</td>
                    <td class="td_books">{{quote_title}}</td>
                    <td class="td_books">{{quote}}</td>
                    <td class="td_books">{{date_added}}</td>
                </tr>
              {{/each}}
            {{else}}
              <tr class="tr_books">
                  <td class="td_books"></td>
                  <td class="td_books"></td>
                  <td class="td_books"></td>
                  <td class="td_books"></td>
              </tr>
              <tr class="tr_books">
                  <td class="td_books"></td>
                  <td class="td_books"></td>
                  <td class="td_books"></td>
                  <td class="td_books"></td>
              </tr>
            {{/if}}
        </table>
        {{> footer}}
    </body>
</html>
