<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Ensures proper rendering and touch zooming for mobile applications -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookshelf - Edit Loaned Book</title>
        <!-- Imports master.css file -->
        <link href="../style_templates/master.css" rel="stylesheet" type="text/css">
        <!-- Imports the tables style css sheet -->
        <link href="../style_templates/tables.css" rel="stylesheet" type="text/css">
        <!-- Imports stylesheet for forms -->
        <link href="../style_templates/forms.css" rel="stylesheet" type="text/css">
        <!-- Keeps the program from sending an error saying it can't find module html -->
        <link rel="shortcut icon" href="">
    </head>
    <body>
        {{> header}}
        {{> navigation}}
        <div align="center">
          <h1>Edit Loaning Information, Delete The Entry, or Just View It!</h1>
        </div>
        <!-- Sets up form to add a new book -->
        <table style="width: 100%;">
            <tr>
                <td></td>
                <td style="width:25%;">
                  {{#each loaning_book}}
                    <form action="/active_books/edit_loaned_book/save" method="post" id="edited_loaned_book_form">
                        <label for="book_title">Book Title</label><br>
                        <input disabled="true" type="text" value="{{book_title}}"><br>

                        <label for="loaned_to">Who are you lending it to?*</label><br>
                        <input required disabled="true" type="text" id="loaned_to" name="loaned_to" value="{{loaned_to}}"><br>

                        <label for="date_loaned">Date Loaned</label><br>
                        <input disabled="true" type="text" value="{{date_loaned}}"><br>
                        <label for="new_date_loaned">New Date Loaned (NOTE: only select a date if you want to change it)</label><br>
                        <input disabled="true" type="date" id="new_date_loaned" name="new_date_loaned"><br>

                        <label for="phone">Phone</label><br>
                        <input disabled="true" type="text" id="phone" name="phone" value="{{phone}}"><br>

                        <label for="email">Email</label><br>
                        <input disabled="true" type="text" id="email" name="email" value="{{email}}"><br>

                        <label for="comments">Comments</label><br>
                        <textarea disabled="true" type="text" id="comments" name="comments" rows="5" cols="45">{{comments}}</textarea><br>

                        <div align="center">
                          <button style="width:49%; float: left;" onclick="makeEditable();" type="button" id="edit_book" name="edit_book">Edit</button>
                          <button style="width:49%; float: right;" onclick="cancelEdit();" disabled="true" type="button" id="cancel_edit" name="cancel_edit">Cancel</button>
                        </div>

                        <button style="width:100%;" disabled="true" type="submit" id="save" name="save">Save</button>
                        <input hidden="true" type="text" id="_id" name="_id" value={{_id}}><br>
                    </form>
                  {{/each}}
                </td>
              </tr>
              <!-- Form for deleting the book -->
              <tr>
                <td></td>
                <td>
                  <form action="/active_books/edit_loaned_book/delete" method="post" id="delete_loaned_book_entry" onsubmit="return validateDeleteForm();">
                    <button style="width:100%;" type="submit" id="delete" name="delete">Delete</button>
                    {{#each loaning_book}}
                      <input hidden="true" type="text" id="book_title" name="book_title" value={{book_title}}><br>
                      <input hidden="true" type="text" id="_id" name="_id" value="{{_id}}"><br>
                    {{/each}}
                  </form>
                </td>
                <td></td>
              </tr>
        </table>
        {{> footer}}
        <!-- imports manage_books.js to use its functions -->
        <script src="../../scripts/edit_loaned_book.js"></script>
    </body>
</html>
