<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Ensures proper rendering and touch zooming for mobile applications -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookshelf - Manage Book</title>
        <!-- Imports master.css file -->
        <link href="../style_templates/master.css" rel="stylesheet" type="text/css">
        <!-- Imports the tables style css sheet -->
        <link href="../style_templates/tables.css" rel="stylesheet" type="text/css">
        <!-- Imports stylesheet for forms -->
        <link href="../style_templates/forms.css" rel="stylesheet" type="text/css">
        <!-- Keeps the program from sending an error saying it can't find module html -->
        <link rel="shortcut icon" href="">
    </head>
    <body>
        {{> header}}
        {{> navigation}}
        <div align="center">
          <h1>Edit, Delete, or Just View Your Book!</h1>
        </div>
        <!-- Sets up form to add a new book -->
        <table style="width: 100%;">
            <tr>
                <td></td>
                <td style="width:25%;">
                    <form action="/my_library/manage_books/save" method="post" id="manage_book_form">
                      {{#each book}}
                          <label for="book_title">Book Title</label><br>
                          <input disabled="true" type="text" id="book_title" name="book_title" value={{book_title}}><br>

                          <label for="authors">Authors</label><br>
                          <input disabled="true" type="text" id="authors" name="authors" value={{authors}}><br>

                          <label for="ISBN">ISBN</label><br>
                          <input disabled="true" type="text" id="ISBN" name="ISBN" value={{ISBN}}><br>

                          <label for="actively_lending">Actively Lending</label><br>
                          {{#if actively_lending}}
                            <input disabled="true" type="text" id="actively_lending" name="actively_lending" value="True"><br>
                          {{else}}
                            <input disabled="true" type="text" id="actively_lending" name="actively_lending" value="False"><br>
                          {{/if}}
                          <label for="gift_first_name">Gifter's First Name</label><br>
                          <input disabled="true" type="text" id="gift_first_name" name="gift_first_name" value={{gift_first_name}}><br>

                          <label for="gift_last_name">Gifter's Last Name</label><br>
                          <input disabled="true" type="text" id="gift_last_name" name="gift_last_name" value={{gift_last_name}}><br>

                          <div align="center">
                            <button style="width:49%; float: left;" onclick="makeEditable();" type="button" id="edit_book" name="edit_book">Edit</button>
                            <button style="width:49%; float: right;" onclick="cancelEdit();" disabled="true" type="button" id="cancel_edit" name="cancel_edit">Cancel</button>
                          </div>

                          <button style="width:100%;" disabled="true" type="submit" id="save" name="save">Save</button>
                          <input hidden="true" type="text" id="book_id" name="book_id" value={{_id}}><br>
                        {{/each}}
                    </form>
                </td>
                <td></td>
            </tr>
            <!-- Form for deleting the book -->
            <tr>
              <td></td>
              <td>
                <form>
                  <button style="width:100%;" type="submit" id="delete" name="delete">Delete</button>
                </form>
              </td>
              <td></td>
            </tr>
            <!-- Form for managing lending the book -->
            <tr>
              <td></td>
              <td>
                <form>
                  <button style="width:100%;" type="submit" id="manage_lend" name="manage_lend">Manage Lend</button>
                </form>
              </td>
              <td></td>
            </tr>
        </table>
        {{> footer}}
        <!-- imports manage_books.js to use its functions -->
        <script src="../../scripts/manage_books.js"></script>
    </body>
</html>
