<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Ensures proper rendering and touch zooming for mobile applications -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bookshelf - My Library</title>
        <!-- Imports my_library.css file -->
        <link href="../../style_templates/my_Library.css" rel="stylesheet" type="text/css">
        <!-- Imports master.css file -->
        <link href="../style_templates/master.css" rel="stylesheet" type="text/css">
        <!-- Imports the tables style css sheet -->
        <link href="../style_templates/tables.css" rel="stylesheet" type="text/css">
        <!-- Keeps the program from sending an error saying it can't find module html -->
        <link rel="shortcut icon" href="">
    </head>
    <body>
        {{> header}}
        {{> navigation}}
        <!-- Buttons to update, add, delete, books -->
        <form action="/my_library/new_book" method="get">
            <!-- Need to add button hover event -->
            <button type="submit" class="add_button">Add Book</button>
        </form>

        <table class="table_books">
          <tr>
              <th class="th_books">Book Title</th>
              <th class="th_books">Author's</th>
              <th class="th_books">Status</th>
              <th class="th_books">Gifter's First Name</th>
              <th class="th_books">Gifter's Last Name</th>
              <th class="th_books">Gifted Date</th>
          </tr>
          {{#each books}}
            <tr class="tr_books">
                <td class="td_books">{{book_title}}</td>
                <td class="td_books">{{authors}}</td>
                {{#if actively_lending}}
                  <td class="td_books">True</td>
                {{else}}
                  <td class="td_books">False</td>
                {{/if}}
                <td class="td_books">{{gift_first_name}}</td>
                <td class="td_books">{{gift_last_name}}</td>
                <td class="td_books">{{date_gifted}}</td>
            </tr>
          {{/each}}
        </table>

        <!-- Table holding book data -->
        <table class="table_books">
            <tr>
                <th class="th_books">Book Title</th>
                <th class="th_books">Author's</th>
                <th class="th_books">Date Added</th>
                <th class="th_books">Status</th>
                <th class="th_books">Gifter's Name</th>
                <th class="th_books">Gifted Date</th>
            </tr>
            <tr class="tr_books">
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
            </tr>
            <tr class="tr_books">
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
                <td class="td_books"></td>
            </tr>
        </table>
        {{> footer}}
    </body>
</html>
